// markdown 文件样式
/* 标题 h1~h2*/
/* ====================================================*/
h1 {
  font-size 2.8em
  color #d33682
  margin 0.75em
}
h2 {
  font-size 2.4em
  color #9B31EA
  margin 0.75em
}
h3 {
  font-size 1.8em
  color #338000
  margin 0.75em
}
h4 {
  font-size 1.4em
  margin 0.75em
}

/* p,a,,hr,list,table*/

/* ==================================================*/
/*<blockquote> 标签定义摘自另一个源的块引用。浏览器
通常会对 <blockquote> 元素进行缩进。
*/
blockquote {
    font-style italic
    border-left 5px solid
    margin-left 2em
    padding-left 1em
}

/* p*/
p {
    margin-bottom 1.5em
}
/* hr */
hr {
    clear both
    margin 15px 0
    height 0px
    overflow hidden
    border none
    background transparent
    border-bottom 4px solid #ddd
    padding 0
}
/*  link*/

a {
    color #b58900
    text-decoration none
}
afocus {
    outline thin dotted
}
aactive,ahover {
    outline 0
}
ahover {
    color #cb4b16
    text-decoration underline
}
avisited {
    color #cb4b16
}

/* list */

ul,
ol {
    margin 0 0 1.5em 1.5em
}
ol li {
    list-style-type decimal
    list-style-position outside
}
ul li {
    list-style-type disc
    list-style-position outside
}