/*背景图*/
// $bgImg = "http://blogfile.xhay1122.com/page/common/geometry2.png"
// $bgImg = "../../assets/images/bg2.jpg"

/*字体颜色*/
$mainFontColor = #000000
$mateFontColor = #999999

/*字体大小*/
$logoFontSize = .64rem

/*slidebar 配置*/
$slidebarWidth = 6.4rem
$slidebarBg = #222222

